<div class= "container-fluid">
  <h1 class="text-center">YOUR QUOTE </h1>
  <h5 class="text-center"><i>IT GETS BETTER!</i></h5>
  
  <hr>
  <div class= "row">
    <div class= "col-md-6">
        <ul>
          <div *ngFor='let quote of quotes;let i = index'>
            <li>{{quote.author}}</li> 
            <button (click)='toggleDetails(i)'>Be Inspired</button>
            <app-quote-detail *ngIf='quote.showDescription'[Quote]='quote'  (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
          <div class="col-md-6">
            <app-quote-form  (addQuote)="addNewQuote($event)"></app-quote-form>
          </div>
        </ul>
      </div>
    </div>
</div>
