<div class="container-fluid ">
    <h2 class="text-center">Your Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="author"[(ngModel)]="newQuote.author" author="author" #author='ngModel' required >
           
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name is required</p>
              </div>
        </div>
        <div class="form-group">
  
            <label for="description">Inspiration quote</label>
            <textarea class="form-control" id="description" rows="4"  [(ngModel)]="newQuote.description" author="description" #description='ngModel'  required></textarea>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                <p>Input your inspiration quote</p>
              </div> 
        </div>
        <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="yourQuote.name" author="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Input your name</p>
              </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
